nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}

.logo-container {
    height: 2rem;
        
}

.nav-logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Styles for reporteForm.php */
.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#reporteForm {
    position: relative;
    padding: 2rem 3rem;
    z-index: 3;
}